/* html {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

html, body {
    margin: 0px;
    height: 100%;
    background-color: #fafafa;
    background: linear-gradient(135deg, #f6f6f655 25%, transparent 25%) -8px 0/ 16px 16px, linear-gradient(225deg, #f6f6f6 25%, transparent 25%) -8px 0/ 16px 16px, linear-gradient(315deg, #f6f6f655 25%, transparent 25%) 0px 0/ 16px 16px, linear-gradient(45deg, #f6f6f6 25%, #fafafa 25%) 0px 0/ 16px 16px;
}

.container {
    margin: auto;
    position: relative;
    width: 154px;
}

body {
    display: block;
}

#box {
    margin: auto;
    position: relative;
}
#box:hover {
   cursor: pointer;
   transform: scale(1.1);
}

.link-logo {
    cursor: pointer;
    width: 30px;
    margin: 4px;
    opacity: .8;
}

.link-logo:hover {
    transform: scale(1.1);
    opacity: 1;
}

/* .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background-color: gold;
    height: 100vh;
}

.block {
    background-color: cyan;
    margin: 40vh 10% 20vh 50%;
} */